<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Covid19tatus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <p class="navbar-item"><%=link_to "Home", home_index_path%></p>

      <p class="navbar-item"><%=link_to "World Status", worlds_path%></p>

      <p class="navbar-item"><%=link_to "Regional Status", regions_path%></p>
      <p class="navbar-item"><%=link_to "Country-Wide Status", countries_path%></p>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <p class="navbar-item"><%=link_to "About", about_index_path%></p>
        </div>
      </div>
    </div>

    <form action="/countries/search">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control">
            <input class="input" type="text" placeholder="Search for countries" name="q">
          </div>
            <div class="buttons">
                <button class="button is-primary"><strong>Search</strong></button>
            </div>
        </div>
      </div>
    </form>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
